name: CI

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  tests:
    strategy:
      fail-fast: false
      matrix:
        php-version: ['7.4', '8.0', '8.1', '8.2', '8.3', '8.4', '8.5']
        os: [ubuntu-latest]
        dependency-versions: ['lowest', 'highest']
    runs-on: ${{ matrix.os }}
    name: Tests on PHP ${{ matrix.php-version }} with {{ matrix.dependency-versions }} dependencies
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Validate composer.json
        run: composer validate --strict --no-check-lock

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}

      - name: Setup problem matchers for PHP
        run: echo "::add-matcher::${{ runner.tool_cache }}/php.json"

      - name: Setup problem matchers for PHPUnit
        run: echo "::add-matcher::${{ runner.tool_cache }}/phpunit.json"

      - uses: "ramsey/composer-install@v3"
        with:
          dependency-versions: ${{ matrix.dependency-versions }}

      - name: Run test suite
        run: composer run-script test

  static-analysis:
    strategy:
      fail-fast: false
      matrix:
        php-version: ['7.4', '8.5']
        os: [ubuntu-latest]
        dependency-versions: ['highest']
    runs-on: ${{ matrix.os }}
    name: PHPStan on PHP ${{ matrix.php-version }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}

      - name: Setup problem matchers for PHP
        run: echo "::add-matcher::${{ runner.tool_cache }}/php.json"

      - uses: "ramsey/composer-install@v3"
        with:
          dependency-versions: ${{ matrix.dependency-versions }}

      - name: Run PHPStan
        run: vendor/bin/phpstan analyse --ansi
